body{
  height: 100vh; 
  display: flex;
  justify-content: center; 
  align-items: center; 
background: linear-gradient(45deg,#f2e7ed,#cabdce, #bfb2c6);

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

